**/not_git/**
**/sample/**
**/tmp/**
**/packages/**
**/library/templates/0-PTFs/**
*.tmp
*.7z
*.tar
*.zip
*.rar
*.pyc
*.pyd
__pycache__
*.log
*.bzc
# ignore any linked globaltemplate macro under templates
**/library/templates/**/*.mac
**/library/templates/**/*.macargs

[Bb]uild/
[Dd]ist/
# Temporary installation
**/bin/Debug/
**/bin/Release/
**/bin/kernel/
**/bin/ribbon/
**/bin/macro/
**/bin/Confused/
**/bin/library/
**/*.exe

# NuGet junk
*.lock.json
*.nuget.props
*.nuget.targets


#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
.vscode
.vs
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log$
*.lib
*.sbr
*.sdf
*.opensdf
ipch/
obj/
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files

#Subversion files
.svn

# Office Temp Files
~$*

# Vim backup files
*~
# tmp
[Tt][Mm][Pp]/

documentation/*
installers/*
samples/*



